html{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin:auto;
    width:100%;
    background-color: lightblue;
      color: black;
      padding: 40px;
      text-align: center;
    } 
p {
        text-align: center;
      }

.button {
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
}

.button:hover {
    background-color: #3e8e41
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding-bottom: 10px;
    text-align: center;
  }
  input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=text]:focus {
    border: 2px solid #555;
  }
  .hidden {
      display: none;
  }
